vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Jun 2023 04:10:23 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-HMSNQ2I\\Adam Tucker
vti_modifiedby:SR|DESKTOP-HMSNQ2I\\Adam Tucker
vti_timecreated:TR|02 Jun 2023 04:10:23 -0000
vti_cacheddtm:TX|02 Jun 2023 04:10:23 -0000
vti_filesize:IR|3914
vti_cachedlinkinfo:VX|S|Ac437_IBM_BIOS.ttf
vti_cachedsvcrellinks:VX|FSUS|pages/styles/Ac437_IBM_BIOS.ttf
vti_backlinkinfo:VX|pages/pirateposting.html
