.sidenav
{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    height: 100%;
    width: 10vw; /*old 160px*/
    position: fixed;
    z-index: 1vw;
    top: 0;
    left: 0;
    background-color: rgb(255, 76, 76);
    overflow-x: hidden;
    padding-top: 0.5vmax;
}

.sidenav a
{
    padding: 0.5vmax 0.5vmax 0.5vmax 1vmax; /*old 6px 8px 6px 16px*/
    text-decoration: none;
    font-size: 1.2vmax; /*old 20px*/
    color:#000000;
    display: block;
}

.sidenav a:hover
{
    color: #717171;
}

.header
{
    width: 100%; 
    height: 1%;
    padding: 0% 0% 1% 0%;
    color: #f1f1f1;
    border-style: solid;
    border-color: #000;
    background-color: #000;
    display: block;
    font-size: 150%;
    text-shadow: 0.25vw 0.2vw #878787;
    text-overflow: clip;
}

body
{
    font-family: sans-serif;
    margin-left: 9vw;
    padding: 0vw 1.3vw;
}

p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*[h2]
{
    font-size: 10px;
}

main > img
{
    text-align: center;
    padding: 10px 20px;
}
/*I found a method to shrink the navbar if it detects a tiny screen*/
@media (pointer:none), (pointer:coarse)
{
    .sidenav {padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}